body {
  margin: 0;
  font-family: Inter, serif, arial;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

header {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,a:focus{
  color: #9f9fa2;
}

.container-page-title {
  font-size: 3rem;
  font-family: Inter;
}

section {
  padding-bottom: 3em;
}

.section-black {
  background: #000;
  color: #fff;
}

img {
  width: 100%;
  max-width: 400px;
}

/* LAYOUT */

.container {
  /* width: 60%; */
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1em;
}

.line-below {
  padding: 0.024em;
  /* width: 100%; */
  color: #fff;
  background: #fff;
}

.page-title {
  display: flex;
  align-items: center;
}

.container-about-us {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
  align-items: center;
}

h1{
    margin: 0;
}

h2 {
  font-family: Inter;
  font-size: 2.7rem;
}
.about-us {
  font-family: Inter;
  font-weight: light;
  padding-left: 2em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.container-service {
  font-family: Inter;
  font-weight: 300;
}

.service {
  padding: 1em 0.7em;
  margin-right: 1em;
  border: 1px solid #000;
}

.service-list {
  display: flex;
}

.container-contact {
  padding-top: 2em;
}

.container-contact h2 {
  text-align: center;
}

.signup-form {
  text-align: center;
}
.form-input {
  background: #000;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  width: 90%;
  border: 1px solid #afafb9;
}

input::placeholder {
  color: #afafb9;
  font-size: 1rem;
}

.signup-btn {
  padding-left: 2em;
}
input[type="submit"] {
  background: #fff;
  font-size: 1rem;
  color: #000;
  padding: 1em 2em;
  margin-bottom: 1em;
}
